@import '../GlobalStyle/GlobalStyle.module.scss';

.wrapper {
  display: flex;
  align-items: center;
  background-color: $color-white;
  // min-width: 216px;
  padding-right: $padding-medium;
  padding-left: $padding-min;
  cursor: pointer;

  &:hover {
    background-color: $color-background-btn-hover;
  }

  &.apps:first-child {
    margin-bottom: $padding-medium;
    position: relative;
    &::after {
      content: '';
      position: absolute;

      height: 1px;
      background-color: $color-border;
      bottom: 0;
      left: 0;
      right: 0;
      transform: translateY($padding-medium/2);
    }
  }

  &.apps:last-child {
    margin-top: $padding-medium;
    position: relative;
    &::after {
      content: '';
      position: absolute;
      height: 1px;
      background-color: $color-border;
      top: 0;
      left: 0;
      right: 0;
      transform: translateY(-$padding-medium/2);
    }
  }

  &.user:nth-child(1) {
    margin-top: $padding-min/2;
  }
  &.user:nth-child(5),
  &.settingsVideoItem:nth-child(4) {
    position: relative;
    margin-bottom: $padding-max;
    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      right: 0;
      left: 0;
      height: 1px;
      background-color: $color-border;
      transform: translateY($padding-max/2);
    }
  }

  .btn {
    @include btn-icon;
    background-color: transparent;
  }

  .title {
    flex: 1;
    font-size: 14px;
    font-weight: 300;
    color: $color-text-secondary;

    &.settingsNotify {
      font-size: 14px;
    }
  }
}
