@import '../../GlobalStyle/GlobalStyle.module.scss';

.wrapper {
  position: relative;

  .create-form {
    display: flex;
    flex-direction: column;
    gap: $gap-medium 0;
    align-items: flex-start;
    padding: $padding-max;

    .form-group {
      display: flex;
      flex-direction: column;
      gap: 6px 0;
      width: 100%;

      .label-name {
        font-size: 12px;
        color: $color-text-primary;
        text-align: left;
      }
      .input-name {
        font-size: 14px;
        border-bottom: 1px solid $color-border;
        padding: $padding-min;

        &:placeholder-shown {
          color: #212121;
        }
        &:focus {
          border-bottom-color: $color-black;
        }
      }
      .message {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 12px;

        .warning {
          color: #f7b217;
          text-transform: none;
        }

        .length-name {
          margin-right: $padding-min;
        }
      }

      .selected {
        display: flex;
        align-items: center;
        cursor: pointer;

        .selected-value {
          flex: 1;
          text-align: start;
          padding-left: $padding-min;
          font-size: 14px;
          color: $color-text-primary;
          text-transform: unset;
        }

        .selected-btn {
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          background-color: transparent;
          opacity: 0.75;
        }
      }
    }
  }

  .create-new-playlist {
    display: flex;
    align-items: center;
    gap: 0 $gap-max;
    padding: $padding-max;
    cursor: pointer;
    &:hover {
      background-color: $color-background;
    }

    .create-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: transparent;
      cursor: pointer;

      .rotate {
        transform: rotate(45deg);
      }
    }

    .title {
      font-size: 14px;
      color: $color-text-primary;
      font-weight: 500;
    }
  }
}
