@import '../GlobalStyle/GlobalStyle.module.scss';

.wrapper-menu {
  .popper {
    max-height: calc(100vh - $header-height);
    overflow: hidden;
    // min-width: 253px;
    border: 1px solid $color-border;
    border-radius: $border-radius;
    background-color: $color-white;
    gap: $gap-min 0;
    padding: $padding-min 0;

    .header-account {
      display: flex;
      align-items: center;
      gap: 0 $gap-medium;
      padding: 0 $padding-max $padding-min;
      border-bottom: 1px solid $color-border;

      .avatar-user {
        width: 40px;
        aspect-ratio: 1/1;
        border-radius: 50%;
        overflow: hidden;
      }

      .user-info {
        display: flex;
        flex-direction: column;
        grid-area: $gap-min 0;
        .user-name {
          font-size: 18px;
          font-weight: 500;
          color: $color-text-primary;
        }

        .user-link {
          font-size: 14px;
          outline: none;
          color: $color-secondary;
        }
      }
    }

    .header {
      width: 100%;
      display: flex;
      align-items: center;
      padding: $padding-min;
      border-bottom: 1px solid $color-border;
      min-width: 300px;
      overflow-y: overlay;

      .btn {
        @include btn-icon;
        background-color: transparent;
      }
      .title {
        flex: 1;
        font-size: 1.6rem;
        font-weight: 400;
        color: $color-text-secondary;
      }
    }

    .menu-body {
      max-height: calc(100vh - $header-height - 40px);
      overflow: overlay;
      // padding-bottom: $padding-max;
    }
  }
}
