@import '../../../components/GlobalStyle/GlobalStyle.module.scss';

.wrapper {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: $gap-medium 0;

  //my comment

  //comment-item

  //ViewReply
}
