@import '../../../components/GlobalStyle/GlobalStyle.module.scss';

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 58px;
  padding: 8px;
  border: 1px solid $color-border;

  .channel-left {
    display: flex;
    align-items: center;
    gap: 0 $gap-min;

    .channel-thumb {
      width: 36px;
      height: 36px;
      border-radius: 50%;
      overflow: hidden;
    }

    .channel {
      .channel-name {
        font-size: 14px;
        color: $color-text-primary;
        font-weight: 500;
      }
      .channel-subscribers {
        font-size: 12px;
        font-weight: 400;
        color: $color-text-secondary;
      }
    }
  }
}
