@import '../../../components/GlobalStyle/GlobalStyle.module.scss';

.wrapper {
  display: flex;
  align-items: center;
  gap: 0 $gap-min;

  .btn-setting {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .icon-rotate {
    transform: rotate(90deg);
    cursor: pointer;
  }

  //action-item
  .action-item {
    position: relative;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    background-color: transparent;
    cursor: pointer;

    .icon {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 36px;
      height: 36px;

      &.active {
        color: $color-primary;
      }
    }
    .title {
      display: block;
      font-size: 16px;
      color: $color-text-primary;
      font-weight: 500;
    }
  }
}
