@import '../../../../components/GlobalStyle/GlobalStyle.module.scss';

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0 $padding-min;

  .btn {
    @include btn-icon;
    &:active {
      color: $color-primary;
    }
    &.active {
      color: $color-primary;
    }
  }

  .user-avatar {
    width: 40px;
    aspect-ratio: 1/1;
    overflow: hidden;
    border-radius: 50%;
    object-fit: cover;
    transform: scale(0.8);
  }
}
