@import '../../../components/GlobalStyle/GlobalStyle.module.scss';

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 $padding-max;
  height: $header-height;

  .header-left {
    display: flex;
    align-items: center;
    .btn {
      @include btn-icon;
    }
    .logo-link {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      padding: $padding-medium $padding-max;
      .logo-icon {
        width: 90px;
        height: 20px;
      }
      .country-code {
        position: absolute;
        font-size: 0.9rem;
        top: 0;
        right: 0;
        font-weight: 600;
        color: $color-text-secondary;
        transform: translate(4px, 6px);
      }
    }
  }

  .header-center {
    flex: 1;
    max-width: 640px;
    padding: 0 $padding-min/2;
  }
  .header-right {
  }
}
