//variable
//media
$mobile-width: 391px;
$tablet-width: 769px;

//color
$white-color: white;
$black-color: black;
$primary-color: #ff0000;
$secondary-color: #1b74e4;
$background-color: #e5e5e5;

//font
$font-family: 'Nunito', sans-serif;
$primary-text-color: #030303;
$secondary-text-color: #606060;
$thirty-text-color: #909090;

//border
$border-radius: 8px;

//mix-xin
@mixin maxWidth($max-width) {
  @media only screen and (max-width: $max-width) {
    @content;
  }
}

@mixin mobile {
  @media only screen and (max-width: $mobile-width) {
    @content;
  }
}

@mixin tablet {
  @media only screen and (max-width: $tablet-width) {
    @content;
  }
}
