@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

//SCSS
//media
$mobile-width: 391px; //iphone 12pro
$tablet-width: 769px; //ipad mini
//color
$white-color: white;
$black-color: black;
$primary-color: #ff0000;
$secondary-color: #1b74e4;
$background-color: #e5e5e5;
$btn-background-color: #f8f8f8;
$btn-background-color-hover: #f0f0f0;
//font
$font-family: 'Nunito', sans-serif;
$primary-text-color: #030303;
$secondary-text-color: #606060;
$thirty-text-color: #909090;
//border
$border-radius: 4px;
$border-color: #d3d3d3;
//width
$max-width: 1366px;
$header-height: 56px;
$box-icon-width: 40px;
$min-padding: 8px;
$medium-padding: 12px;
$max-padding: 16px;
$min-gap: 10px;
$medium-gap: 15px;
$max-gap: 20px;

//mix-xin
@mixin maxWidth($max-screen-width) {
  @media only screen and (max-width: $max-screen-width) {
    @content;
  }
}
@mixin mobile {
  @media only screen and (max-width: $mobile-width) {
    @content;
  }
}
@mixin tablet {
  @media only screen and (max-width: $tablet-width) {
    @content;
  }
}
@mixin box-icon($width: $box-icon-width) {
  width: $width;
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  cursor: pointer;
}

//html
html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  font-family: $font-family;
  background-color: $white-color;
  color: $primary-text-color;
  overflow: overlay;
}

html *::-webkit-scrollbar {
  border-radius: 0;
  width: 28px;
}

html *::-webkit-scrollbar-thumb {
  border-radius: 16px;
  cursor: pointer;
  background-color: #5c5c5c;
  border: 8px solid $background-color;
}

html *::-webkit-scrollbar-track {
  border-radius: 0;
  margin-top: -8px;
  background-color: transparent;
}

button,
input,
[tabIndex] {
  outline: none;
  border: none;
}

a {
  color: var(--text-color);
  text-decoration: none;
}
