@import '../../components/GlobalStyle/GlobalStyle.module.scss';

.test1 {
  color: red;
  font-weight: 300;
}
.test2 {
  color: red;
  font-weight: 300;
}
.test3 {
  color: red;
  font-weight: 400;
}
.test4 {
  color: red;
  font-weight: 400;
}
.test5 {
  color: red;
  font-weight: 500;
}
.test6 {
  color: red;
  font-weight: 500;
}
