@import '../../../../components/GlobalStyle/GlobalStyle.module.scss';
.wrapper {
  display: flex;
  align-items: center;
  border: 1px solid $color-border;

  .search-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    background-color: transparent;
    .icon {
      width: 20px;
      height: 20px;
    }
  }
  .search-input {
    flex: 1;
  }
  .clear-btn {
    @include btn-icon;
  }
  .search-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 1px solid $color-border;
    width: calc(50px + $padding-max);
    height: 40px;
    background-color: $color-background-btn;
    cursor: pointer;
    &:hover {
      background-color: $color-background-btn-hover;
    }
  }
}

//headlessTippy
.search-box {
  max-width: 632px;
  background-color: greenyellow;
}
