@import '../../../components/GlobalStyle/GlobalStyle.module.scss';

.wrapper {
  border-bottom: 1px solid $color-border;
  border-top: 1px solid $color-border;
  background-color: $color-white;
  width: 100%;

  .chip {
    cursor: pointer;
    max-width: 224px;
    display: block;
    font-size: 16px;
    font-weight: 300;
    border: 1px solid $color-border;
    padding: 2px $padding-medium;
    border-radius: 9999em;
    @include text-clamp(1);
    flex-shrink: 0;
    background-color: $color-background-btn;
    &.active {
      background-color: $color-black;
      color: $color-white;
    }
    &:hover {
      background-color: $color-background-btn-hover;
    }
  }

  .loading {
    text-align: center;
  }
}
