@import '../../../components/GlobalStyle//GlobalStyle.module.scss';
.wrapper {
  padding-bottom: $padding-max;
  padding-right: $padding-min;
  display: flex;
  width: 240px;
  align-items: center;
  flex-direction: column;
  height: calc(100vh - $header-height);
  background-color: $color-white;
  overflow-y: overlay;

  &.toggleSideBar {
    max-width: 72px;
    padding: 0;
    overflow: hidden;
  }

  //sign in
  .sign-in {
    padding: $padding-min 0 $padding-medium;
    border-top: 1px solid $color-border;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: $gap-min 0;
    .title {
      font-size: 1.3rem;
      text-align: center;
    }
    .btn-signIn {
      padding: $padding-medium $padding-max;
      border-radius: $border-radius;
    }
  }

  footer {
    width: 100%;
    padding-top: $padding-medium;
    border-top: 1px solid $color-border;
    .footer-mail {
      font-size: 1rem;
      text-align: center;
      .email {
        font-size: 1.2rem;
        color: $color-secondary;
      }
    }
    .footer-bottom {
      font-size: 1rem;
      text-align: center;
    }
  }
}

.show {
  margin-top: -$padding-min;
  margin-bottom: $padding-min;
  font-size: 1.3rem;
}
